@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
    font-family: 'Hanna', fantasy !important; /* 이부분 수정 */
}

/* !important 는 styles.css와 충돌 방지로 넣었습니다.*/

body{
    margin: 0 auto;
    background-color:#ffffff;
}

/*검색 페이지 중앙정렬*/
.search_container{
    width: 1000px;
    margin: 0 auto;

}
.restaurant_data{
    width: 1000px;
    margin: 0 auto;
}
.course_data{
    width: 1000px;
    margin: 0 auto;
}
.service_container{
    width: 1000px;
    margin: 0 auto;
}

.form{
    width: 500px !important;
    margin: 0 auto;
}

label{
    text-align: left;
}

.space-white{
    background-color:#8ec4f3;
}

.locsearch-restaurant{
    background-color:#8ec4f3;
}

/*건의사항란 css*/
.feedback-input {
    color:#3c3c3c;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #ffffff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-color: 1px solid #192531;
  }

.feedback-message{
    color:#3c3c3c;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #ffffff;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width:100%;
    height: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-color: 1px solid #192531;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left; /* 플롯 중요(::after 가상요소 이용)*/
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}

.ease {
  width: 0;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*검색창*/
input:focus {outline:none;}

.search_box {
    height: 40px;
    width: 1000px;
    border: 2px solid #347ab6;
    background: #ffffff;
}

.search_input {
    font-size: 16px;
    width: 925px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

.search_btn{
    width: 50px;
    height: 100%;
    border: 0px;
    background: #347ab6;
    outline: none;
    float: right;
    color: #ffffff;
}

/*Test페이지 검색창*/
.input-restaurant{
    width: 550px;
    height: 40px;
    border: 2px solid #347ab6;
    padding-left: 10px;
}

.btn-submit{
    width: 50px;
    height: 40px;
    border: 0px;
    background: #347ab6;
    color: #ffffff;
}

.searchRestaurant{
    text-align: center;
    background: #8ec4f3;
    padding: 0 0 10px;
}

.search-restaurant{
    background: #8ec4f3;
    padding: 20px 0 10px;
}

.check-category{
    width: 500px;
    margin: 0 auto;
}
.restaurant_title{
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

.input-course{
    width: 300px;
    height: 40px;
    border: 2px solid #347ab6;
    padding-left: 10px;
}


/*체크박스*/
input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #2c3e50;
    border-radius: 2px;
    background: #fbfbfb;
    
}


/*체크박스랑 텍스트 정렬*/
input{ vertical-align:-5px; }

input[type="checkbox"]::before {
    content: "\2713";
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
}

input[type="checkbox"]:hover {
    border-color: rgba(170, 170, 170, 0.5);
}

input[type="checkbox"]:checked {
    background-color: #347ab6;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}

input[type="checkbox"]:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%)
}
/*식당 검색 결과 글머리표 제거*/
.restaurant_clickArea {
    list-style-type : none;}

.menu_info {
    list-style-type : none;}

.kakao_map .root_daum_roughmap {width:100%!important;}

/*별점*/
.inner-star::before{color: #8ec4f3;}
.outer-star {position: relative;display: inline-block;color: #CCCCCC;}
.inner-star {position: absolute;left: 0;top: 0;width: 0%;overflow: hidden;white-space: nowrap;}
.outer-star::before, .inner-star::before {content: '\f005 \f005 \f005 \f005 \f005';font-family: 'Font Awesome 5 free';font-weight: 900;}


a{text-decoration: none;color: #ffffff;}
a:hover{color: #ffffff}


b{text-decoration: none;color: #000000;}
b:hover{color: #ffffff}

nav ul{padding-top:10px;}
            nav ul li{
                display:inline;
                border-left:1px solid #999;
                font:bold 15px Dotum;
                padding:0 10px;

                line-height: 50px;
                text-align: center;
                background: #ffffff;
            }
            nav ul li:first-child{border-left:none;}
            li{
                list-style: none;
            }

 .menus ul li{
    color:#CEFBC9;
    list-style-type:none !important; 
    margin-right:20px !important;
    display:inline !important;
    width: 25% !important;
    height: 100% !important;
    line-height: 50px !important;
    text-align: center !important;
 }
            
.menus ul li a{
    color:#ffff;
}

.menus ul li a:hover{
    color: #192531;
}

footer.footer {
    position: relative;
    background-color: #192531;
}
@media only screen and (min-width: 769px){
    footer.footer>.inner {
    margin: 0 auto;
    padding-top: 20px;
    min-height: 350px;
    max-width: 1200px;
}
footer.footer>.inner {
    position: relative;
}
}

