<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>홈 화면</title>
        <link rel="stylesheet" href="/pageStyle.css"/>
        <!--<link rel="stylesheet" href="/styles.css"/>-->
        <!--<link rel="stylesheet" href="css/src/docs.css"/>
        <link rel="stylesheet" href="css/src/pygments-manni.css"/>
        <link rel="stylesheet" href="css/src/docs.min.css"/>-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <!-- Core theme JS-->
        <script src="scripts.js"></script>
        <script type="text/javascript">
            function func() {
                    var exptext = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
                    var name = document.getElementById("name").value; 
                    var email = document.getElementById("email").value;    
                    var phone = document.getElementById("phone").value;        
                    var message = document.getElementById("message").value; 
                if(frm.name.value == ""){
                    alert('이름을 입력해주십시오.');
                    document.getElementById("frm").action = " ";
                    frm.name.focus();
                    
                    return false;
                }   
                if(frm.email.value == ""){
                    alert('이메일을 입력해주십시오.');
                    frm.email.focus();
                    document.getElementById("frm").action = " ";
                    return false;
                }
                if(frm.email.value != ""){
                    if(exptext.test(email)==false){
                        alert('이메일 형식이 올바르지 않습니다.');
                        frm.email.focus();
                        return false;
                    }
                    else if(frm.message.value == ""){
                        alert('건의사항을 입력해주십시오.');
                        frm.message.focus();
                        document.getElementById("frm").action = " ";
                        return false;
                    }
                }
                if(frm.phone.value == ""){
                    alert('전화번호를 입력해주십시오.');
                    frm.phone.focus();
                    document.getElementById("frm").action = " ";
                    return false;
                }
                if(frm.message.value == ""){
                    alert('건의사항을 입력해주십시오.');
                    frm.message.focus();
                    document.getElementById("frm").action = " ";
                    return false;
                }
                alert('건의사항이 접수되었습니다.');
                window.location.href=window.location.href;
            }
            </script>
    </head>
    <body class="my-body">
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="img-fluid rounded mb-5" src="img/portfolio/Traveler.png" alt="..." (static)/>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">트래블러</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">맛집 여행 & 코스 추천 서비스</p>
            </div>
            <hr>
            <div class= "menus" id="menu1">
        <ul>
            <li><a href="/locsearch">여행지역 식당 추천받기</a></li>
            <li><a href="/search">식당검색</a></li>
            <li><a href="/service">서비스소개</a></li>
        </ul>   
    </div>
    </nav>   
        </header>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
                <!-- Contact Section Form-->
                <div id="form-div">
                    <form class="form" name="frm" id="frm">
                      <div class="name" style="text-align: center;">
                        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name..." id="name" />
                    </div>
                      
                      <div class="email" style="text-align: center;">
                        <input name="email" type="email required" class="validate[required,custom[email]] feedback-input"
                        id="email" placeholder="name@example.com" data-sb-validations="required,email"/>
                    </div>
                      
                      <div class="phone" style="text-align: center;">
                        <input name="phone" type="tel" class="validate[required,custom[phone]] feedback-input" id="phone" placeholder="123-4567-8910" />
                    </div>

                      <div class="message" style="text-align: center;">
                        <textarea name="message" class="validate[required,length[6,300]] feedback-message" id="message" placeholder="Enter your message here..."></textarea>
                    </div>
                      <div class="submit">
                        <input type="button" value="SEND" id="button-blue" onclick="func()"/>
                        <div class="ease"></div>
                        <br><br>
                      </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center" style="background-color:#192531">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4"></h4>
                        <p class="lead mb-0">
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0"> 
                        <h4 class="text-uppercase mb-4" style="color: #ffffff ">Location</h4>
                        <p class="lead mb-0" style="color: #ffffff ">
                            경기 성남시 수정구 성남대로 1342
                            <br />
                            Clark, MO 65243
                        </p>
                    </div>
                    <!-- Footer About Text-->
                
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white"  style="background-color:#192531 !important;">
            <div class="container" style="color: #ffffff !important;"><small>Copyright &copy; Travelers 2021</small></div>
        </div>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
