<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h4 class="container mt-4"><strong>REVIEW_LIST</strong></h4>

        <div class="container mt-3">
            <form method="POST" action="/add">
            <div class="form-group">
                <label for="exampleInputEmail1" style="font-size:100%;">Insert Review</label>
                <br>
                <input
                    type="text"
                    class="form-control"
                    name="review"
                    placeholder=""
                />
                <br>
                <small id="emailHelp" class="form-text text-muted">Fill in the work to do.</smaill>
            </div>
<!--
            <div class="form-group">
                <label for="exampleInputPassword1" style="font-size:100%;">Due Date</label>
                <br>
                <input
                type="text"
                class="form-control"
                name="date"
                placeholder=""
                />
                <br>
                <small id="emailHelp" class="form-text text-muted">Fill in the date</smaill>
            </div>
-->
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html> 
