<!DOCTYPE html>
<html lang="ko-KR">

    <head>
        <meta charset="UTF-8" />
        <link href="/pageStyle.css" rel="stylesheet" type="text/css" />
        <title>서비스 소개 | 트래블러</title>
    </head>

<body>
    <div id="body">
        <section class="service_container">
            <br>
            <div class="service_title" style = "text-align:center">
                <img src="img/portfolio/car.png" width="960px" align="center" alt="..." (static)/>
                <h1 class="travelerTitle">트래블러</h1>
            </div>
            <br>
            <br>
            <br>
            <ul>
                <h3>코스 지역 검색</h3>
                <li>지역명 검색과 음식 카테고리별 검색이 가능합니다. 세부조건을 체크하여 검색할 수 있습니다.
                    <br>검색 시 하단에 원하는 식당 3~4개로 구성된 코스가 표시됩니다.</li>
                <br>
                <h3>식당 검색</h3>
                <li>식당의 상호명 검색이 가능합니다. 세부조건을 체크하여 검색할 수 있습니다.
                    <br>검색 시 하단에 식당의 요리 종류와 평점, 식당의 위치 등 정보가 함께 표시되며, 상호명 클릭 시 상세 정보를 확인할 수 있습니다.</li>
                <br>
                <h3>그 외</h3>
                <li>기본 홈페이지 하단의 폼으로 문의사항을 전달받고 있습니다.</li>
            </ul>
        </section>
    </div>
    <footer class="footer">
        <div class="inner">
            <h3 style="text-align: center; color: #ffffff;" >LOCATION</h3>
            <h2>
                <p style="text-align: center; color: #ffffff;">
                    경기 성남시 수정구 성남대로 1342
                </p>
            </h2>
            <h4 style="text-align: center; color: #ffffff;">Clark, MO 65243</h4>
        </div>
    </footer>
</body>
</html>